@model IEnumerable<MvcNetCoreEntityComics.Models.ComicView>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-controller="Comics" asp-action="InsertComic">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdComic)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdComic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)" 
            </td>
            <td>
                <img style="width:250px;height:250px" src=" @Html.DisplayFor(modelItem => item.Imagen)" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                    <a asp-controller="Comics" asp-action="Details"
                       asp-route-id="@item.IdComic" class="btn btn-success">
                        Details
                    </a>
            </td>
        </tr>
}
    </tbody>
</table>
